* {
  margin: 0;
  padding: 0;
}
body{
  justify-content: center;
  display: flex;
}
a{
 text-decoration: none;
 color: #4d4e4e;
 margin: 10px;

}
.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 100vh;
}
.header {
  border: 2px black solid;
  height: 100px;
  font-size: 60px;
  padding-left: 130px;
  padding-top: 30px;
}
.body{
  display: flex;
  flex: 1;
}
.sidebar {
  height: 350px;
  width: 20%;
  padding-top: 10px;
  background-color: #e4edec;
}
.content {
  width: 75%;
  padding-left: 5px;
}
.footer{
  border: 2px black solid;
  flex: 0;
}