.container {
  width: 500px;
  margin: 0 auto;
}
.header {
  border: 2px black solid;
  height: 100px;
}
.sidebar {
  border: 2px black solid;
  height: 350px;
  width: 20%;
  float: left;
}
.content {
  width: 380px;
  float: left;
  width: 75%;
  padding-left: 5px;
}
