* {
  margin: 0;
  padding: 0;
}
body{
  justify-content: center;
  font-family: 'Roboto';
  display: flex;
}
a{
  text-decoration: none;
  color: #4d4e4e;
  margin: 5px;

}



.drink-item {

  width: 250px;
}

.drink-item__picture {
  justify-content: center;
  display: flex;
}

.drink-item__country {
  height: 20px;
}
.drink-item__country>img {
  height: 100%;
}
.name {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #5d605d;
}

.prop {
  padding-bottom: 50px;
  display: flex;
  font-size: 15px;
  justify-content: center;
  color: #b0b4b1;
}

.prise {
  text-align: center;
  font-size: 25px;
}
.mid-prise {
  font-size: 13px;
  color: #b0b4b1;
  text-align: center;
}

.center {
  text-align: center;
  margin: auto;
  width: 150px;
  height: 30px;
  border: 1px #b0b4b1 solid;
}

.stars {
  width: 150;
  margin: 10px;
  color: #b0b4b1;
  font-size: 15px;
}
.prise-and-score {
  display: flex;
}
